/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background: #dfccf1;
}

button {
  background-color: #bdd0c4;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 6px #f7e1d3;
  border: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  position: relative;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

#app-container {
  display: flex;
  flex-direction: column;
}

#editor-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#editor-controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.editor-control {
  padding: 0px;
  margin: 20px;
  width: 120px;
  height: 30px;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-selection-controls {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}

img#result {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .editor-control {
    font-size: 11px;
  }
}
